body {
    background-color: #666 !important;
    color: #ccc !important;
}

/* div.play-field {
    border: 2px solid white;
} */

div.player-board {
    border: 5px solid #ccc;
}

div.player-board div.player-name {
    font-size: large;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

/* div.score-board {
    border: 1px solid white;
} */